@use 'base/mixins' as m;

.barra{
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 50%;
        margin: 0 auto;
        align-items: center;

        @include m.tablet{
            width: 18%;
            margin: 0;
        }
    }
}